DEBUG_MODE=false
LOCAL_HOST_RUN_ENV=false
DATA_MAX_AGE_HOURS=168
DATA_CLEANUP_INTERVAL_MINUTES=60

ROS_DOMAIN_ID=42
RMW_IMPLEMENTATION=rmw_fastrtps_cpp
ROS_LOCALHOST_ONLY=0
ROS_DISCOVERY_SERVER=
FASTDDS_UDP_PORT=14520
