registry=https://registry.npmjs.org/
@mywai:registry=https://pkgs.dev.azure.com/zenatek-mywai/_packaging/zenatek-mywai/npm/registry/ 
//pkgs.dev.azure.com/zenatek-mywai/_packaging/zenatek-mywai/npm/registry/:username=VssSessionToken
//pkgs.dev.azure.com/zenatek-mywai/_packaging/zenatek-mywai/npm/registry/:_password=QXN2cUc2V1I1eUNIeUI3dUliMVF2VnN0Z1d2YzBDMTM5WEd0YURVTWNId21LQXJ2eU9HMkpRUUo5OUJGQUNBQUFBQW9wdm5yQUFBU0FaRE8yekps
always-auth=true
